
.nav-link {
    text-gray-300; /* Set initial text color */
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth hover effect */
  }
  
  .nav-link:hover {
    background-color: #ffffff; /* Change background color on hover */
    color: #000000; /* Change text color on hover */
  }
  